# Copy this file to .env and fill in your connection string

MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/mydatabase?retryWrites=true&w=majority
# optional override for server port
# PORT=5000
